<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Empleados</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="./empleado.component.css"> <!-- Enlace al archivo CSS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> <!-- Enlace a SweetAlert -->
</head>
<body>
    <div class="container my-5">
        <h1 class="text-center">Gestión de Empleados</h1>

        <div id="employeeForm" class="mb-4">
            <h2>Formulario de Empleado</h2>
            <form (ngSubmit)="onSubmit()" #crudForm="ngForm" class="border p-4 rounded bg-light">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="employeeId">ID</label>
                        <input type="text" class="form-control" id="employeeId" name="employeeId" [(ngModel)]="empleado.employee_id" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="firstName">Primer Nombre</label>
                        <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="empleado.first_name" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="secondName">Segundo Nombre</label>
                        <input type="text" class="form-control" id="secondName" name="secondName" [(ngModel)]="empleado.second_name">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="salary">Salario</label>
                        <input type="text" class="form-control" id="salary" name="salary" [(ngModel)]="empleado.salary" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="commission">Comisión</label>
                        <input type="text" class="form-control" id="commission" name="commission" [(ngModel)]="empleado.commission_pct">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="lastName">Apellido</label>
                        <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="empleado.last_name" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="email">Correo Electrónico</label>
                        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="empleado.email" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="phone">Teléfono</label>
                        <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="empleado.phone_number" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="hireDate">Fecha de Contratación</label>
                        <input type="date" class="form-control" id="hireDate" name="hireDate" [(ngModel)]="empleado.hire_date" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="manager">Manager</label>
                        <select class="form-control" id="manager" name="manager" [(ngModel)]="empleado.manager_id" required>
                            <option value="" disabled selected>Selecciona un Manager</option>
                            <option *ngFor="let manager of managers" [value]="manager.employee_id">
                                {{ manager.first_name }} {{ manager.last_name }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="department">Departamento</label>
                        <select class="form-control" id="department" name="department" [(ngModel)]="empleado.department_id" required>
                            <option value="" disabled selected>Selecciona un Departamento</option>
                            <option *ngFor="let departamento of departamentos" [value]="departamento.department_id">
                                {{ departamento.department_name }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="jobTitle">Trabajo</label>
                        <select class="form-control" id="jobTitle" name="jobTitle" [(ngModel)]="empleado.job_id" required>
                            <option value="" disabled selected>Selecciona un Trabajo</option>
                            <option *ngFor="let trabajo of trabajos" [value]="trabajo.job_id">
                                {{ trabajo.job_title }}
                            </option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Guardar</button>
                <button type="button" class="btn btn-warning mr-2" (click)="confirmUpdate()">Actualizar</button>
                <button type="button" class="btn btn-danger" (click)="confirmDelete()">Eliminar</button>
            </form>
        </div>

        <div class="container my-5">
            <h1>Lista de Empleados</h1>
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Correo Electrónico</th>
                        <th>Teléfono</th>
                        <th>Fecha de Contratación</th>
                        <th>Título del Trabajo</th>
                        <th>Salario</th>
                        <th>Comisión</th>
                        <th>Manager</th>
                        <th>Departamento</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let empleado of empleados">
                        <td>{{ empleado.employee_id }}</td>
                        <td>{{ empleado.first_name }}</td>
                        <td>{{ empleado.last_name }}</td>
                        <td>{{ empleado.email }}</td>
                        <td>{{ empleado.phone_number }}</td>
                        <td>{{ empleado.hire_date | date }}</td>
                        <td>{{ empleado.job_id }}</td>
                        <td>{{ empleado.salary }}</td>
                        <td>{{ empleado.commission_pct }}</td>
                        <td>{{ empleado.manager_id }}</td>
                        <td>{{ empleado.department_id }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
